{% extends "base.html" %}
{% block content %}
<h1>Memoryz</h1>
<a href=#>Log in</a> | <a href=#> Register</a>

<h2>What is Memoryz?</h2>

<p>
As now days people have so many things to remember, Memoryz website is here to help working class Joe, business manager Bill, stay-a-home mother Martha, student Sandy, stock-market Stud, homeless Hank, Jeff and everyone to help them remember their important matters. The idea behind Memoryz is that users can create their own table of things needed to be done, class them, rate their priority, rank them in different order and of course mark them as done.

Memoryz will provide full chore controlling system to you anywhere and anytime ;) ;) ;). 
</p>


{% endblock %}
